<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseUrl</key>
	<string>http://www.meladori.com/work/govisland/</string>
	<key>locations</key>
	<dict>
		<key>armybuildings</key>
		<string>Army Buildings</string>
		<key>armyhouses</key>
		<string>Army Homes</string>
		<key>food</key>
		<string>Food</string>
		<key>restrooms</key>
		<string>Restrooms</string>
		<key>landmarks</key>
		<string>Landmarks</string>
		<key>openspaces</key>
		<string>Open Spaces</string>
		<key>pointsofinterest</key>
		<string>Points of Interest</string>
		<key>recreation</key>
		<string>Recreation</string>
	</dict>
	<key>urlPrefixes</key>
	<array>
		<string>armybuildings</string>
		<string>armyhomes</string>
		<string>food</string>
		<string>restrooms</string>
		<string>landmarks</string>
		<string>openspaces</string>
		<string>pointsofinterest</string>
		<string>recreation</string>
		<string>visitorinfo</string>
	</array>
    <key>filterOptions</key>
    <array>
        <string>Army Buildings</string>
        <string>Army Homes</string>
        <string>Food</string>
        <string>Restrooms</string>
        <string>Landmarks</string>
        <string>Open Spaces</string>
        <string>Points of Interest</string>
        <string>Recreation</string>
    </array>
    <key>iconImageNames</key>
    <array>
        <string>icon-armybuildings</string>
        <string>icon-armyhomes</string>
        <string>icon-food</string>
        <string>icon-restrooms</string>
        <string>icon-landmarks</string>
        <string>icon-openspaces</string>
        <string>icon-pointsofinterest</string>
        <string>icon-recreation</string>
    </array>
</dict>
</plist>
